body{
  height: 100%;
  color: white;

}

.parralax{
  background-image: url("../foto/meandspider.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parralax2{
  background-image: url("../foto/meandspider.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
  color: lightblue;
  text-align: center;
}
.overkoepel{
  background-color: black;
  height: 450px;
}
.intro{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.talk{
  width: 45%;
  float: left;
  height: 400px;
}
.talk2{
  width: 45%;
  float: right;
  height: 400px;
}


@media screen and (min-device-width: 741px) and (max-device-width: 1024px) {

  .parralax{
    height: 750px;
  }

  .parralax2{
    height: 750px;
  }

  .talk{
    width: 400px;
    text-align: center;
    margin: 0 auto;

  }
  p{
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1500px) {

  .parralax{
  height: 1000px;
  }

  .parralax2{
  height: 1000px;
  }

  .talk{
    width: 600px;
    text-align: center;
    margin: 0 auto;
  }
  p{
    text-align: center;
    width: 600px;
    margin: 0 auto;
  }
}
